<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise 5</title>
  <link rel="stylesheet" th:href="@{/style.css}"/>
  <meta charset="utf-8"/>
</head>
<body>
<table>
  <tr>
    <th>Index</th>
    <th>Name</th>
    <th>Balance</th>
    <th>Animal type</th>
  </tr>
  <tr th:each="account : ${accounts}" th:style="${account.isKing()} ? 'color:pink'"
      th:switch="${account.isGoodGuy()}">
    <td th:text="${accountStat.index + 1}"></td>
    <td th:text="${account.name}"></td>
    <td th:text="${#numbers.formatDecimal(account.balance, 0, 2)} + ' ' + ${account.currency}"></td>
    <td th:text="${account.animalType}"></td>
    <td th:case="true">Good one!</td>
    <td th:case="false">Bad guy.</td>
    <td>
      <!--<form action="@{/increaseBalance(id=${accountStat.index})}" th:object="${account}">-->
      <form action="/web/ListOfAccounts/increaseBalance">
        <input type="submit" value="Increase balance"/>
        <input type="hidden" name="index" th:value="${accountStat.index}"/>
      </form>
    </td>

  </tr>
</table>
</body>
</html>


